
<div>
<%= form_for(@question) do |f| %>
  <div class="field">
    <p><%= f.label :question %></p>
    <%= f.text_field :question %>
  </div>
</div>

<div class="submit">
    <%= f.submit "Submit question!" %>
</div>



  <div> <p><%= link_to "Questions", questions_path %> </p> </div>
  <% end %>
